@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}


html,body,#root{
height:100%;
margin:0;
background:#070c16;
color:white;
font-family:Inter,system-ui,sans-serif;
}

::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-thumb{background:#1f2937;border-radius:4px}
